# extracted from a notebook

## third-party
btcvol
crunch-cli  # alias of crunch
matplotlib
numpy
pandas
requests
scikit-learn  # alias of sklearn
seaborn

## standard
#base64
#datetime
#json
#pathlib
#pickle
#subprocess
#sys
